.max-w-screen-xl {
  max-width: 1280px !important;
}
.pt-header {
    padding-top: $header-height;
}
.top-header {
    top: $header-height;
}
.min-h-screen-sidebar {
    min-height: calc(100vh - #{$header-height});
}
